{% extends 'base.jinja2' %}

{% block content %}
			
			<form class="md-form" action="/result">
			  <div class="file-field">				
				<div class="d-flex justify-content-center">
				  <div class="btn btn-mdb-color btn-rounded float-left">
					<span>Add photo</span>
					<input type="file">
					<input type="submit">
				  </div>
				</div>
			  </div>
			</form>		

{% endblock %}
			